# Carpetas excluidas del repositorio
data/
logs/
eval_lmharness/
env/

# Entornos virtuales
venv/
.venv/
hf/
wandb/

# Modelos y checkpoints grandes (van a HF)
models/
*.pt
*.pth
*.bin
*.safetensors
*.h5

# Archivos de log
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# OS generated
.DS_Store
Thumbs.db

# Entornos
.env

# Archivos de configuración personal
.bash_history
.bashrc
.esd_auth
.gitconfig
.Xauthority
